:php
	$this->widget('bootstrap.widgets.TbListView', array(
		'dataProvider'=>$dataProvider,
		'ajaxUpdate'=>false,            
		'itemView'=>'_view',
		'pager'=>array(
		'class' => 'bootstrap.widgets.TbPager',
		'header'=>false,
		'maxButtonCount'=>'5',

		),
	));
%h1
	- echo Chtml::link('reset', array('notes/index'));